<h1>Please select a quiz from below</h1>
<h4>Quiz 1 is the easiest, with each quiz increasing in difficulty</h4>

<div class = "row">
  <div class ="col-md-6 col-md-offset-3">

    <% @quizzes.all.each do |quiz| %>

    <h2><%= link_to quiz.name, quiz_path(quiz)%></h2>



    <% end %>

    </div>
</div>

