<% provide(:title, "About") %>
<h1>About</h1>
<h4>By signing up to Fun-Learning you can take different forms of quizzes to increase your knowledge. Some of our
features include</h4>
<dl>
  <dt>Result Tracking</dt>
  <dd>- Your result for each quiz taken is tracked. Then your highest result in each quiz is added to your overall Score.</dd>
  <dt>Daily Login Bonus</dt>
  <dd>- Every day you log in you'll receive a 2 points login bonus.</dd>
  <dt>Leaderboard</dt>
  <dd>- Look at your friends results on the leaderboard and compete with them to try and get the highest score and level.</dd>
</dl>

