<div class="center jumbotron">
  <h1>Fun-Learning </h1>
  <h3>allows you to</h3>

  <div class="row">

      <dt><%= image_tag "quiz.png", class: "img-responsive center-block" %>learn through taking quizzes</dt>
    <dt><%= image_tag "trophy.png" , class: "img-responsive center-block" %> track your score and increase your level</dt>

    <dt><%= image_tag "user.png", class: "img-responsive center-block"%> compete and track your friends through our leaderboard</dt>


    <%= link_to "Sign up now!", signup_path, class: "btn btn-lg btn-primary" %>
  </div>


</div>

