<ul class="entry">

  <% @entry.entry_answers.each do |entry_answer| %>
      <li>
        <%= entry_answer.question.name %>
        <% if entry_answer.answer.correct? %>
            <p>Correct</p>
        <% else %>
            <p>Incorrect</p>
        <% end %>
      </li>
  <% end %>
  <h1>Your Result is <%= @entry.score %></h1>
  <h4><%= link_to "Click here to return to your Profile", current_user %></h4>
</ul>