<% provide(:title,@user.name) %>
<div class = "row" >
  <aside class = "col-md-4">
    <section class = "user-info">
      <h1> <%= @user.name%> </h1>
      <h3> Entries <%= @user.entries.count %> </h3>

    </section>
  </aside>
</div>